body {
  margin: 0;
}

header {
  background-color: #f6f4ef;
  color: #004aad;
  text-align: center;
  padding: 20px;
}

main {
  background-color: white;
  color: black;
}

footer {
  background-color: #004aad;
  color: white;
  text-align: center;
}
