body {
  margin: 0;
}

header {
  background-color: #f6f4ef;
  color: #004aad;
  text-align: center;
  padding: 50px;
  font-size: 48px;
  font-family: "The Seasons", Juana, Ethereal, "URW Americana";
}

main {
  background-color: white;
  color: black;
  padding: 50px;
}

figure {
  margin: 0;
  text-align: center;
}

footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 50px;
}
